.navbar-wrapper{
    background-color: black;
    width: 100;
    color: var(--primary-color);;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    text-align: right;
    position: sticky;
    top: 0;
    z-index: 2;
    cursor: pointer;
}
.navbar-link{
    text-decoration: none;
}